{% extends 'admin.twig' %}

{% block content %}
    <div
      vue-entry="LoginLdap.AdminPage"
      servers="{{ servers|default(null)|json_encode|e('html_attr') }}"
      updated-from-pre30="{{ (updatedFromPre30 == 1)|default(false)|json_encode|e('html_attr') }}"
      ldap-config="{{ ldapConfig|default(null)|json_encode|e('html_attr') }}"
      is-login-controller-activated="{{ isLoginControllerActivated|default(false)|json_encode|e('html_attr') }}"
    ></div>
{% endblock %}
