#ldapSettingsTable {
  display: inline-table;

  td {
    vertical-align: middle;
  }

  tr > td:first-child {
    width:50%;
  }

  .form-description {
    font-size: .9em;
    margin-top: .6em;
    margin-left: 2em;
    display: inline-block;
  }

  border-spacing: 0 1.5em;
}