<div>
    <div piwik-field title="{{ testableField.title }}"
           inline-help="{{ testableField.inlineHelp }}"
           name="{{ testableField.inputName }}"
           uicontrol="text"
           value="{{ testableField.inputValue }}"
           piwik-onenter="testableField.testValue()"
           ng-model="testableField.inputValue"
           ng-change="testableField.testResult = testableField.testError = null" ></div>

    <div piwik-save-button
         saving="testableField.currentRequest !== null"
         onconfirm="testableField.testValue()"
         ng-show="testableField.inputValue"
         value="{{ 'LoginLdap_Test'|translate }}"></div>

    <div class="test-config-option-success" ng-show="testableField.testResult !== null">
       <strong>
              <span ng-if="testableField.testResult==1">{{ 'LoginLdap_OneUser'|translate }}</span>
              <span ng-if="testableField.testResult!=1">{{ 'General_NUsers'|translate:testableField.testResult }}</span>
       </strong>
    </div>
    <div class="test-config-option-error" ng-show="testableField.testError">
        {{ testableField.testError }}
    </div>
</div>